#card-design{
    width: 40em; 
    height: 400px; 
    background-color: #FFFFFF; 
    margin: 2% auto;
    transition: all .2s ease-in-out;
    box-shadow: 10px 10px 10px 5px gray; 
    
    
}


#card-design:hover{

    box-shadow: 10px 10px gray; 
    transform: scale(1.02);
}


#sample[for="id_new_password"]{
    background-color: black;
}