{% extends 'base.html' %}

<!DOCTYPE html>
<html>
<head>
	{% block head %}
	{% endblock %}

</head>
<body>
	<div class="jumbotron">
	{% block body %}

<div  style="text-align: center;" class="jumbotron">
	<h1 >Welcome to The Feedback</h1>

	<p>
		We always appreciate feedback from our users in order to improve our platform.
	</p>


</div>

<div class="container">
	

	<div>  
	<h3> 
		Is the platform easy to use?
	</h3>
	

	</div>

	<h3>
		Do you like the social network?
	</h3>



</div>

	{% endblock %}
	</div>
</body>
</html>
