{% extends 'base.html' %}

{% block head %}

<title>Profile-Change Password</title>

{% load staticfiles %}
<link rel="stylesheet"href="{% static "accounts/change_password/stylesheet.css" %}"></link>


{% endblock %}


{% block body %}

{% if messages %}

<div>
	{% for message in messages %}
	<center>{{ message }}</center>
	{% endfor %}
</div>


{% endif %}


<h1 style="text-align:center;" class="jumbotron">Change Your Password</h1>
<div class="card" id="card-design">

<h4 class="card-title" style="padding: 10px; text-align: center; background-color: #01FF70;">Use the form below to change your password.</h4>
<div class="card-body">
<form method="POST">
	{% csrf_token %}
	{{form.as_p}}
	<div style="text-align: center;">
	<button style="background-color: #01FF70; color: black;" class="btn btn-outline-success" type="submit">Change Password</button>
</div>
</form>

</div>
</div>
{% endblock %}
